
.formulario{
  text-align: center;
  padding-top: 30px;
}
.mat-raised-button{
  color:black ;
}
.no-account{
  padding-top: 20px;
}
.google{
  background-color: rgba(255, 255, 255, 0.63);
  color: green;

}