input.ng-invalid.ng-touched{
    margin:  solid red;

}

.mat-raised-button{
    margin-left: 10px;

}

.formulario{
    text-align: center;
    padding-top: 30px;
  }

.account{
    margin-top: 15px;
}